{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Meet Me Default{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'meetme/styles/base.css' %}">
    {% block site_css %}{% endblock %}
</head>
<body>
    <headder id='main-header'>
        <nav><a href="/meetme" id='main-logo'>DjangoMeetMe</a></nav>
        <h1>{% block main_heading %}{% endblock %}</h1>
        {% block header_content%}{%endblock%}
    </headder>
    <main>
        {% block body %}{% endblock %}
    </main>   
</body>
</html>